body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#startbtn{
    width:15%;
    margin: 10px auto;
    height: 40px;
}
h1{
    text-align: center;

}
.on{
    background-color: darksalmon;
}
.sensor-header{
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
}


.data-set{
    border: 2px solid black;
    margin: 20px auto;
    width: 70%;
    height: 325px;

}